@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c1c7d0 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c7d0;
  border-radius: 9999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
